html {
  box-sizing: border-box;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  align-items: center;
  background-color: #2C2141;
  display: flex;
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  justify-content: center;
  min-height: 100vh;
  padding: 16px;
}

.card {
  background-color: #F8F8F8;
  border-radius: 16px;
  max-width: 624px;
  padding: 32px;
  width: 100%;
}

.person {
  align-items: flex-start;
  display: flex;
}

.person__bio {
  line-height: 22px;
  margin: 0;
}

.person__distinction {
  color: #ED6D05;
}

.person__distinction, .person__name, .person__title {
  font-weight: normal;
}

.person__header {
  font-family: Arial, Helvetica, sans-serif;
  margin-bottom: 28px;
}

.person__link {
  color: #3BB9EB;
  text-decoration: none;
}

.person__name {
  font-size: 36px;
  margin: 0;
}

.person__title {
  color: #545454;
  font-size: 18px;
  font-style: italic;
}

.person__photo {
  margin-right: 32px;
}
