@import "_normalize";
@import "_variables";
@import url('https://fonts.googleapis.com/css?family=Roboto:300,300i,400,400i,500,500i&display=swap&subset=greek-ext');

@keyframes waves {
  0% { border-radius: 30% 70% 70% 30%/30% 30% 70% 70%; }
  25% { border-radius: 70% 30% 30% 70%/70% 70% 30% 30%; }
  50% { border-radius: 30% 70% 70% 30%/30% 30% 70% 70%; }
  100% { border-radius: 70% 30% 30% 70%/70% 70% 30% 30%; }
}

html {
  box-sizing: border-box;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  align-items: center;
  background-color: #2C2141;
  background-image: linear-gradient(135deg, $gradientStart 0%, $gradientEnd 100%);
  display: flex;
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  font-weight: 400;
  justify-content: center;
  min-height: 100vh;
  padding: 16px;
  @media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
    /* IE10+ CSS styles go here */
    height: 100vh;
    }
}

.card {
  background-color: #F8F8F8;
  border-radius: 16px;
  max-width: 624px;
  padding: 32px;
  width: 100%;
}

.link {
  color: $link;
  text-decoration: none;
}

.person {
  align-items: flex-start;
  display: flex;
  &__bio {
    line-height: 22px;
    margin: 0;
  }
  &__distinction {
    color: $distinction;
    font-weight: 300;
  }
  &__header {
    font-family: Arial, Helvetica, sans-serif;
    margin-bottom: 28px;
    @media screen and (max-width: $vertical) {
      text-align: center;
    }
  }
  &__link {
    color: $personLink;
    font-weight: 500;
    text-decoration: none;
  }
  &__name {
    font-size: 36px;
    margin: 0;
    font-weight: 400;
  }
  &__title {
    color: $gradientEnd;
    font-size: 18px;
    font-style: italic;
    font-weight: 500;
    -webkit-text-fill-color: transparent;
    @supports(-webkit-background-clip:text) {
      background: linear-gradient(to right,$gradientStart,$gradientEnd);
      background-clip: text;
      box-decoration-break: clone;
      -webkit-text-fill-color: transparent;
    }
  }
  @media screen and (max-width: $vertical) {
    flex-wrap: wrap;
    justify-content: center;
  }
}

.photo {
  margin: 0 32px 16px 0;
  position: relative;
  &__img {
    animation: waves 30s infinite alternate ease-in-out;
    border-radius: 30% 70% 70% 30%/30% 30% 70% 70%;
    height: $photo;
    width: $photo;
    will-change: border-radius;
  }
  @media screen and (max-width: $vertical) {
    margin: 0;
  }
}
